<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- Bank Account Controller -->
    <bean id="bankAccountController" class="com.example.question_3.BankAccountController">
        <property name="initializeRepositories" ref="bankAccountRepositoriesImpl"/>
    </bean>



    <!-- Bank Account Repository -->
    <bean id="bankAccountRepositoriesImpl" class="com.example.question_3.BankAccountRepositoryImpl">
        <property name="repository">
            <map>
                <entry key-ref="account_1_Id" value-ref="account_1"/>
                <entry key-ref="account_2_Id" value-ref="account_2"/>
                <entry key-ref="account_3_Id" value-ref="account_3"/>
                <entry key-ref="account_4_Id" value-ref="account_4"/>
                <entry key-ref="account_5_Id" value-ref="account_5"/>
            </map>
        </property>
    </bean>


    <!-- Account Ids -->
    <bean id="account_1_Id" class="com.example.question_3.BankAccountIdList">
        <property  name="accountId" value="123123"/>
    </bean>
    <bean id="account_2_Id" class="com.example.question_3.BankAccountIdList">
        <property name="accountId" value="123124"/>
    </bean>
    <bean id="account_3_Id" class="com.example.question_3.BankAccountIdList">
        <property name="accountId" value="123122"/>
    </bean>
    <bean id="account_4_Id" class="com.example.question_3.BankAccountIdList">
        <property name="accountId" value="123121"/>
    </bean>
    <bean id="account_5_Id" class="com.example.question_3.BankAccountIdList">
        <property name="accountId" value="123120"/>
    </bean>


    <!-- Bank Accounts -->
    <bean id="account_1" class="com.example.question_3.BankAccount" parent="account_1_Id">
        <property name="accountHolderName" value="Manav Verma"/>
        <property name="accountType" value="Saving"/>
        <property name="accountBalance" value="232000"/>
    </bean>
    <bean id="account_2" class="com.example.question_3.BankAccount" parent="account_2_Id">
        <property name="accountHolderName" value="Priyam Verma"/>
        <property name="accountType" value="Saving"/>
        <property name="accountBalance" value="235000"/>
    </bean>
    <bean id="account_3" class="com.example.question_3.BankAccount" parent="account_3_Id">
        <property name="accountHolderName" value="Rahul Verma"/>
        <property name="accountType" value="Saving"/>
        <property name="accountBalance" value="231000"/>
    </bean>
    <bean id="account_4" class="com.example.question_3.BankAccount" parent="account_4_Id">
        <property name="accountHolderName" value="Rishabh Verma"/>
        <property name="accountType" value="Saving"/>
        <property name="accountBalance" value="532000"/>
    </bean>
    <bean id="account_5" class="com.example.question_3.BankAccount" parent="account_5_Id">
        <property name="accountHolderName" value="Rachit Verma"/>
        <property name="accountType" value="Saving"/>
        <property name="accountBalance" value="212000"/>
    </bean>

</beans>