<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="area" class="com.example.question_5.SurfaceArea">
        <property name="rectangle" ref="rectangle"/>
    </bean>

    <bean id="rectangle" class="com.example.question_5.Rectangle">
        <property name="length" value="12"/>
        <property name="breath" value="12"/>
    </bean>
    <bean id="newRectangle" class="com.example.question_5.Rectangle">
        <property name="length" value="14"/>
        <property name="breath" value="14"/>
    </bean>


</beans>